:root {
  --dark: #4f5b5f;
  --score: #6e7077;
  --header: #6b6e71;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: hsl(237, 49%, 15%);
  background-image: radial-gradient(
    circle,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  color: hsl(229, 64%, 46%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#heading {
  color: whitesmoke;
  text-transform: uppercase;
}

#head {
  display: flex;
  justify-content: space-between;
  border: solid 4px var(--header);
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;

  width: 70%;
  max-width: 450px;
  margin: 40px auto;
}

#scorebox {
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
}

#scorehead {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.7rem;
}

#score {
  font-size: 42px;
  text-align: center;
  color: var(--score);
  font-weight: 600;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.outer-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  padding: 20px;
  border-radius: 50%;
}

.outer-ring.paper {
  /*background-color: blue;*/
  background: linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.outer-ring.rock {
  background: linear-gradient(to right, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.outer-ring.scissors {
  background: linear-gradient(to right, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

#choices {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 95%;
  max-width: 420px;
}

#choices .outer-ring:hover {
  opacity: 0.75;
}

.top-choices {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bottom-choices {
  display: flex;
  justify-content: center;
}

.bar {
  background: #1f2937;
}

.top-bar {
  height: 30px;
  position: absolute;
  width: 250px;
  height: 30px;
  top: 70px;
  left: 20px;
  z-index: -1;
}

.left-bar {
  position: absolute;
  width: 200px;
  height: 45px;
  transform: skewY(55deg);
  transform-origin: bottom left;
  top: 30px;
  left: 45px;
  z-index: -1;
}
.right-bar {
  position: absolute;
  width: 200px;
  height: 45px;
  transform: skewY(-55deg);
  transform-origin: bottom right;
  top: 30px;
  right: 45px;
  z-index: -1;
}
/*
### Primary

- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

### Neutral

- Dark Text: hsl(229, 25%, 31%)
- Score Text: hsl(229, 64%, 46%)
- Header Outline: hsl(217, 16%, 45%)

### Background

- Radial Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%)
*/
